<table *ngIf="displayedColumns.length > 0" 
    mat-table [dataSource]="schemaFields" 
    style="width: 100%;">

    <ng-container matColumnDef="Field">
        <th mat-header-cell *matHeaderCellDef> Colonne </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Field}} </td>
    </ng-container>

    <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Type}} </td>
    </ng-container>

    <ng-container matColumnDef="Null">
        <th mat-header-cell *matHeaderCellDef> Null </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Null}} </td>
    </ng-container>

    <ng-container matColumnDef="Key">
        <th mat-header-cell *matHeaderCellDef> Clé </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Key}} </td>
    </ng-container>

    <ng-container matColumnDef="Default">
        <th mat-header-cell *matHeaderCellDef> Valeur par défaut </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Default}} </td>
    </ng-container>

    <ng-container matColumnDef="Extra">
        <th mat-header-cell *matHeaderCellDef> Extra </th>
        <td mat-cell *matCellDef="let elm"> {{elm.Extra}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>