<mat-card>
    <p fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
      <button mat-raised-button aria-label="créer" matTooltip="Nouvel enregistrement" (click)="_create()" color="primary">
        <mat-icon>add</mat-icon><span> {{addButtonText}}</span>
      </button>
      <button mat-icon-button aria-label="help" 
              *ngIf="schemaName !== ''"
              matTooltip="Description du schema" 
              (click)="_info()">
        <mat-icon>info</mat-icon><span></span>
      </button>
      <button mat-button aria-label="Rafraichir" matTooltip="Rafraichir les données" (click)="_reload()">
        <mat-icon>refresh</mat-icon><span> Rafraichir</span>
      </button>
      <span fxFlex="1 1 auto"></span>
      <small>Nombre de lignes : {{dataArray.length}} / {{dataCount.count}}</small>
    </p>
    <table mat-table [dataSource]="dataArray" class="mat-elevation-z8" style="width: 100%" fixedLayout="true">
    
      <!-- WORKSHOPS ['name', 'description', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- WORKSTATIONS ['divaltoCode', 'divaltoName', 'aleaPrefix', 'ipAddress', 'localization', 'maxPalettePerHour', 'description', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- FABRICATIONORDER ['ofnr', 'codem', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- OPERATION ['operation', 'description', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- MESSAGE STANDARD ['alea', 'operation', 'label', 'description', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- MESSAGE STATUS ['status', 'description', 'createdAt', 'updatedAt', 'functions'] -->
      <!-- MESSAGE HISTORY ['status', 'codem', 'ofnr', 'operation', 'alea', 'label', 'timestamp', 'value', 'createdAt', 'updatedAt', 'functions'] -->
      
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- alea Column -->
      <ng-container matColumnDef="alea">
        <th mat-header-cell *matHeaderCellDef> Aléa </th>
        <td mat-cell *matCellDef="let element"> {{element.alea}} </td>
      </ng-container>
    
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
    
      <!-- ofnr Column -->
      <ng-container matColumnDef="ofnr">
        <th mat-header-cell *matHeaderCellDef> Numéro d'OF </th>
        <td mat-cell *matCellDef="let element"> {{element.ofnr}} </td>
      </ng-container>
    
      <!-- codem Column -->
      <ng-container matColumnDef="codem">
        <th mat-header-cell *matHeaderCellDef> Code poste de travail Divalto </th>
        <td mat-cell *matCellDef="let element"> {{element.codem}} </td>
      </ng-container>
    
      <!-- operation Column -->
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef> Code opération </th>
        <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
      </ng-container>
    
      <!-- label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>
    
      <!-- divaltoCode Column -->
      <ng-container matColumnDef="divaltoCode">
        <th mat-header-cell *matHeaderCellDef> Code Divalto </th>
        <td mat-cell *matCellDef="let element"> {{element.divaltoCode}} </td>
      </ng-container>
    
      <!-- divaltoName Column -->
      <ng-container matColumnDef="divaltoName">
        <th mat-header-cell *matHeaderCellDef> Nom Divalto </th>
        <td mat-cell *matCellDef="let element"> {{element.divaltoName}} </td>
      </ng-container>
    
      <!-- aleaPrefix Column -->
      <ng-container matColumnDef="aleaPrefix">
        <th mat-header-cell *matHeaderCellDef> Préfixe aléa </th>
        <td mat-cell *matCellDef="let element"> {{element.aleaPrefix}} </td>
      </ng-container>
    
      <!-- localization Column -->
      <ng-container matColumnDef="localization">
        <th mat-header-cell *matHeaderCellDef> Localisation </th>
        <td mat-cell *matCellDef="let element"> {{element.localization}} </td>
      </ng-container>
    
      <!-- ipAddress Column -->
      <ng-container matColumnDef="ipAddress">
        <th mat-header-cell *matHeaderCellDef> Adresse IP </th>
        <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
      </ng-container>
    
      <!-- timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Horodatage API </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'dd/LL/yyyy HH:mm:ss'}} </td>
      </ng-container>
    
      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valeur </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
    
      <!-- maxPalettePerHour Column -->
      <ng-container matColumnDef="maxPalettePerHour">
        <th mat-header-cell *matHeaderCellDef> Cadence maxi (unité/h) </th>
        <td mat-cell *matCellDef="let element"> {{element.maxPalettePerHour}} </td>
      </ng-container>
    
      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unité </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
      </ng-container>
    
      <!-- active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Actif </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-checkbox [checked]="element.active" color="primary" disabled> Active </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <!-- startedAt Column -->
      <ng-container matColumnDef="startedAt">
        <th mat-header-cell *matHeaderCellDef> Démarré le </th>
        <td mat-cell *matCellDef="let element"> {{element.startedAt | date:'dd/LL/yyyy HH:mm:ss'}} </td>
      </ng-container>
    
      <!-- stoppedAt Column -->
      <ng-container matColumnDef="stoppedAt">
        <th mat-header-cell *matHeaderCellDef> Arrêté le </th>
        <td mat-cell *matCellDef="let element"> {{element.stoppedAt | date:'dd/LL/yyyy HH:mm:ss'}} </td>
      </ng-container>
    
      <!-- CreateAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Créé le </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd/LL/yyyy HH:mm:ss'}} </td>
      </ng-container>
    
      <!-- updatedAt Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Modifié le </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'dd/LL/yyyy HH:mm:ss'}} </td>
      </ng-container>
    
      <!-- functions Column -->
      <ng-container matColumnDef="functions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button 
                  aria-label="Modifier" 
                  matTooltip="Modifier cet enregistrement"
                  (click)="_update(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button 
                  aria-label="Copier" 
                  matTooltip="Copier cette ligne vers un nouvel enregistrement"
                  (click)="_copy(element)">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-icon-button 
                  aria-label="Supprimer" 
                  matTooltip="Supprimer définitivement cet enregistrement"
                  (click)="_delete(element)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h3 *ngIf="dataArray.length <= 0">Aucune données... Modifier le filtre ou saisir des données</h3>
    <mat-card-actions>
      <span fxFlex></span>
      <button mat-button *ngIf="dataArray.length < dataCount.count" (click)="_more()">
        <mat-icon>add</mat-icon> voir plus
      </button>
      <span fxFlex></span>
    </mat-card-actions>
  </mat-card>
  
