<mat-card fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 1 auto" fxLayoutGap="15px" class="mat-typography">
  <span fxFlex="0 0 auto">
    <button mat-raised-button (click)="openHelper()">
      Filtre
    </button>
  </span>
  <mat-form-field fxFlex="1 1 auto">
    <mat-label></mat-label>
    <input type="text" matInput placeholder="Saisir une phrase de filtrage" (keyup)="filterChange($event)" [(ngModel)]="filterString">
    <button mat-button *ngIf="isRecordable()" 
            matSuffix mat-icon-button 
            matTooltip="Sauvegarder et nommer le filtre actif."
            aria-label="Save" (click)="saveFilter()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-button *ngIf="isStored()" 
            matSuffix mat-icon-button 
            matTooltip="Supprimer le filtre actif des filtres enregistrés."
            aria-label="Delete" (click)="deleteFilter()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button *ngIf="filterString" 
            matSuffix mat-icon-button 
            matTooltip="Remettre à 0 le filtre actif."
            aria-label="Clear" (click)="resetFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Format: "champ1:valeur1, valeur2; champ2: valeur3;" - Liste des champs : codem (Code machine), ofnr (numéro d'OF), operation (opération), alea (aléa) - Format dates et heures : "jour: JJ/MM/AAAA", "période: JJ/MM/AAAA HH-MM-SS, JJ/MM/AAAA HH-MM-SS"</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filtres enregistrées</mat-label>
    <mat-select matNativeControl (selectionChange)="selectFilter($event)">
      <mat-option>Pas de sélection</mat-option>
      <mat-option *ngFor="let fil of storedFilters" [value]="fil">{{fil.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
