<form fxLayout="column nowrap" fxLayoutAlign="center stretch" fxLayoutGap="12px">
    
    <!-- FABRICATION ORDER -->
    <mat-form-field fxFlex="1 1 auto">
        <mat-label>{{fieldList.ofnr.label}}</mat-label>
        <input type="text"
                [placeholder]="fieldList.ofnr.placeholder"
                aria-label="Sélecteur d'OF"
                matInput
                [formControl]="fieldList.ofnr.control"
                [matAutocomplete]="autoOFNR">
        <mat-autocomplete #autoOFNR="matAutocomplete">
            <mat-option *ngFor="let option of fieldList.ofnr.filteredOptions | async" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- FABRICATION ORDER -->
    
    <!-- ALEA -->
    <mat-form-field fxFlex="1 1 auto">
        <mat-label>{{fieldList.alea.label}}</mat-label>
        <input type="text"
               [placeholder]="fieldList.alea.placeholder"
               aria-label="Sélecteur d'aléa"
               matInput
               [formControl]="fieldList.alea.control"
               [matAutocomplete]="autoALEA">
        <mat-autocomplete #autoALEA="matAutocomplete">
            <mat-option *ngFor="let option of fieldList.alea.filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- ALEA -->
    
    <!-- STATUS -->
    <mat-form-field fxFlex="1 1 auto">
        <mat-label>{{fieldList.status.label}}</mat-label>
        <input type="text"
               [placeholder]="fieldList.status.placeholder"
               aria-label="Sélecteur d'état"
               matInput
               [formControl]="fieldList.status.control"
               [matAutocomplete]="autoSTATUS">
        <mat-autocomplete #autoSTATUS="matAutocomplete">
            <mat-option *ngFor="let option of fieldList.status.filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- STATUS -->
    
    <!-- OPERATION -->
    <mat-form-field fxFlex="1 1 auto">
        <mat-label>{{fieldList.operation.label}}</mat-label>
        <input type="text"
               [placeholder]="fieldList.operation.placeholder"
               aria-label="Sélecteur d'opération"
               matInput
               [formControl]="fieldList.operation.control"
               [matAutocomplete]="autoOPERATION">
        <mat-autocomplete #autoOPERATION="matAutocomplete">
            <mat-option *ngFor="let option of fieldList.operation.filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- OPERATION -->

    <!-- WORKSHOP -->
    <mat-form-field fxFlex="1 1 auto">
      <mat-label>{{fieldList.localization.label}}</mat-label>
      <input type="text"
             [placeholder]="fieldList.localization.placeholder"
             aria-label="Sélecteur d'atelier"
             matInput
             [formControl]="fieldList.localization.control"
             [matAutocomplete]="autoWORKSHOP">
      <mat-autocomplete #autoWORKSHOP="matAutocomplete">
        <mat-option *ngFor="let option of fieldList.localization.filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- WORKSHOP -->

    <!-- WORKSTATION -->
    <mat-form-field fxFlex="1 1 auto">
        <mat-label>{{fieldList.codem.label}}</mat-label>
        <input type="text"
               [placeholder]="fieldList.codem.placeholder"
               aria-label="Sélecteur de poste de travail"
               matInput
               [formControl]="fieldList.codem.control"
               [matAutocomplete]="autoCODEM">
        <mat-autocomplete #autoCODEM="matAutocomplete">
            <mat-option *ngFor="let option of fieldList.codem.filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- WORKSTATION -->
              
  </form>