<mat-toolbar>
    <span>Édition opération</span>
</mat-toolbar>
<form [formGroup]="operationForm">
    <mat-nav-list class="mat-typography" disableRipple="true">
        <mat-list-item class="margin-bottom">
            <mat-form-field fxFlex>
                <mat-label>Code opération</mat-label>
                <input matInput placeholder="Code opération" type="text" formControlName="operation">
                <mat-hint>{{fieldOperationMaxLength}} caractères maxi</mat-hint>
                <mat-error *ngIf="operationForm.get('operation').errors && 
                    operationForm.get('operation').hasError('required')">
                    Ce champ est requis.
                </mat-error>
                <mat-error *ngIf="operationForm.get('operation').errors && 
                    operationForm.get('operation').hasError('maxlength')">
                    Ce champ doit compter moins de {{fieldOperationMaxLength}} caractères.
                </mat-error>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item class="margin-bottom">
            <mat-form-field fxFlex>
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" type="text" formControlName="description">
                <mat-hint>{{fieldDescriptionMaxLength}} caractères maxi</mat-hint>
                <mat-error *ngIf="operationForm.get('description').errors && 
                    operationForm.get('description').hasError('maxlength')">
                    Ce champ doit compter moins de {{fieldDescriptionMaxLength}} caractères.
                </mat-error>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item disableRipple="true">
            <button mat-raised-button 
                    matTooltip="Abandonner les modifications et fermer la fenêtre"
                    (click)="_cancel()">Annuler</button>
            <span fxFlex></span>
            <button mat-raised-button 
                    color="primary" 
                    [disabled]="operationForm.invalid"
                    matTooltip="Enregistrer les modifications et fermer la fenêtre"
                    (click)="_save()">Enregistrer</button>
        </mat-list-item>
    </mat-nav-list>
</form>
