<app-progress-bar></app-progress-bar>
<div fxLayout="row wrap" fxFlexFill  class="mat-typography">

  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu" (click)="sideNavOpened = !sideNavOpened" fxShow fxHide.lt-sm>
      <mat-icon>menu</mat-icon>
   </button>
   <span fxShow fxHide.lt-sm>{{title}}</span>
   <span fxHide fxShow.lt-sm>{{shortTitle}}</span>
    <span fxFlex="1 1 auto"></span>
    <app-links fxShow fxHide.lt-sm></app-links>
  </mat-toolbar>

  <mat-sidenav-container style="height: calc(100vh - 64px - 33px); width: 100%;">

    <mat-sidenav mode="side" [opened]="sideNavOpened">
      <app-nav-menu></app-nav-menu>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <app-nav-menu fxHide fxShow.lt-sm></app-nav-menu>
      <app-filter-editor></app-filter-editor>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar style="height: auto; font-size: inherit;">
    <div>
      <small>&copy; Copyright {{copyrightYears}}, IO Systems </small>
    </div>
    <span fxFlex="1 1 auto"></span>
    <div>
      <small>Codé sous <a href="/licence">Licence MIT</a></small>
    </div>
  </mat-toolbar>

</div>
