<div fxLayout="row wrap" fxFlexFill  class="mat-typography">

  <mat-toolbar color="primary">
    <span fxShow fxHide.lt-sm>Gers Sci Pal - Suivi de production</span>
    <span fxHide fxShow.lt-sm>GSP - Suivi prod</span>
  </mat-toolbar>

  <mat-sidenav-container style="height: calc(100vh - 64px); width: 100%;">

    <mat-sidenav mode="side" opened>
      <mat-list>
        <mat-list-item>
          <a href="/workshop" mat-button>Atelier</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/workstation" mat-button>Poste de travail</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/operation" mat-button>Opération</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/message-standard" mat-button>Aléa</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/message-history" mat-button>Message</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/message-status" mat-button>Etat des messages</a>
        </mat-list-item>
        <mat-list-item>
          <a href="/fabrication-order" mat-button>Ordres de fabrication</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
