<mat-toolbar>
  <span>Gestion des horaires des équipes</span>
  <span fxFlex></span>
  <button mat-raised-button color="primary" (click)="addShift({name: '', description: ''})">
    Ajouter une plage horaire
  </button>
</mat-toolbar>
<mat-card>
  <h3 *ngIf="!shifts || shifts.length <= 0">Veuiller créer une plage horaire...</h3>
  <div fxLayout="row nowrap" fxLayoutAlign="start start" fxLayoutGap="12px" *ngIf="shifts && shifts.length > 0">
    <mat-nav-list fxFlex="0 0 25%">
      <mat-list-item *ngFor="let elm of shifts" (click)="selectShift($event, elm)">
        <span>{{elm.name}}</span>
        <span fxFlex></span>
        <button mat-icon-button aria-label="Édition plage horaire" (click)="edit($event, elm)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Suppression plage horaire" (click)="clear($event, elm)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <div fxFlex="1 1 auto">
      <app-shift-schedule-editor [shift]="selectedShift"></app-shift-schedule-editor>
    </div>
  </div>
</mat-card>
