<mat-toolbar>
  <span>Gestion des horaires par équipes</span>
  <span fxFlex></span>
  <button mat-raised-button color="primary" (click)="addShift($event)">
    Ajouter une plage horaire
  </button>
</mat-toolbar>
<mat-card>
  <h3 *ngIf="!shifts || shifts.length <= 0">Veuiller créer une plage horaire...</h3>
  <table mat-table [dataSource]="shifts" *ngIf="shifts && shifts.length > 0" style="width: 100%">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Désignation </th>
      <td mat-cell *matCellDef="let elm"> {{elm.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Commentaire </th>
      <td mat-cell *matCellDef="let elm"> {{elm.description}} </td>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let elm">
        <button mat-icon-button aria-label="Édition plage horaire" (click)="edit(elm)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Copier plage horaire" (click)="copy(elm)">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button aria-label="Suppression plage horaire" (click)="clear(elm)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="shiftTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: shiftTableColumns;"></tr>
  </table>
</mat-card>
