<mat-card fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="12px">
    <mat-card *ngFor="let d of setup.value.week" fxFlex>
        <mat-card-header>
            <mat-card-title>{{d.day}}</mat-card-title></mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let p of d.periods; let i = index">
                    <p>{{i + 1}}. {{p.start}} - {{p.end}}</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="editPeriod(d)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</mat-card>
